  
    #home {
        color: aqua;
        background-color: aquamarine;
    }
#contact{
    color: rgb(35, 2, 39);
    background-color: aquamarine;
}
header{
    color: rgb(16, 16, 16);
    background-color: rgb(230, 171, 171)
    }
.container